.main {
  margin: 100px 0 50px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.catalog_banner {
  height: 436px;
  border-radius: 20px;
  overflow: hidden;
}

picture img{
  border-radius: 20px;
  width: 100%;
}

.catalog_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1299px) {
  .main {
    margin: 60px 0 50px 0;
  }

  .catalog_banner {
    margin: 0 16px;
  }

  picture {
    padding: 0 16px;
  }

  .catalog_banner img {
    object-position: right;
  }
}